@font-face {
    font-family: "spaceFont";
    src: url("fonts/scifiFont.otf");
}
@font-face {
    font-family: "boldSpaceFont";
    src: url("fonts/Boldfont.otf");
}
body {
    background-image:url("images/space Golf.png");
    color:azure;
    align-items: center;
    background-size: cover;
}
#navbar {
    display: flex;
    align-items: baseline;
    padding: 50px;
    justify-content: space-between;
    border: 1px whitesmoke solid ;
}
.button {
    font-family: "BoldSpaceFont";
    color: black;
    background-color: turquoise;
    border-radius: 15px;
}
#spbutton {
    font-family: "BoldSpaceFont";
    color: black;
    width: 100px;
    height:50px;
    background-color:turquoise;
    border-radius: 20px;
}
#overview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;

}
#overview div {
    display:flex;
    width:200px;
    height: 200px;
    background-size:cover;
    padding:20px;
    border: white solid 5px;
    box-shadow:1px 1px 3px 10px black;
}
h1{
    font-family: "BoldSpaceFont";
}
#overview h2{
    font-family: "spaceFont";
}
#AR{
    background-image: url("images/AR Golf.png");
}
#Gamemodes {
    background-image: url("images/Golf Dining Area.png");
}
#courses {
    background-image: url("images/Golf Course.png");
}
#prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Prices th {
    font-family: "BoldSpaceFont";
    text-align: left;
}
#Prices h3 {
    font-size: 25px;
}
#Prices th {
    background-color: deepskyblue;
}
#Prices {
    font-family: "spaceFont";
    border: 5px white solid;
    margin: 0% 10%;
    background-color: black;
}
#prices h2 {
    font-family:"BoldSpaceFont";
}
#img {
    width:75%;
}
#gallery{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#gallerybuttons {
    display: flex;
    flex-direction: row;
}
#gallery button {
    width: 50px;
    height: 50px;
}
