body {
    background-image:url("images/space Golf.png");
    color:azure;
    align-items: center;
    background-size: cover;
}
#navbar {
    display: flex;
    align-items: baseline;
    padding: 50px;
    justify-content: space-between;
    border: 1px whitesmoke solid ;
}
.button {
    background-color: brown;
}
#spbutton {
    width: 100px;
    height:50px;
    background-color:brown;
}
#overview {
    display: flex;
}
#AR{
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url("images/spaceImage.jpeg");
    align-items: baseline;
    padding: 20px;
    border: ;
}