@font-face {
    font-family: "spaceFont";
    src: url("fonts/scifiFont.otf");
}
@font-face {
    font-family: "boldSpaceFont";
    src: url("fonts/Boldfont.otf");
}
body {
    background-image:url("images/Space\ Golf.png");
    color:azure;
    align-items: center;
    background-size:cover;
    background-position: center;
}
#navbar {
    display: flex;
    align-items: baseline;
    padding: 50px;
    justify-content: space-between;
    border: 1px whitesmoke solid ;
}
.button {
    font-family: "BoldSpaceFont";
    color: black;
    background-color: turquoise;
    border-radius: 15px;
}
#spbutton {
    font-family: "BoldSpaceFont";
    color: black;
    width: 100px;
    height:50px;
    background-color:turquoise;
    border-radius: 20px;
}
#overview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;

}
#overview div {
    display:flex;
    width:200px;
    height: 200px;
    background-size:cover;
    padding:20px;
}
h1{
    font-family: "BoldSpaceFont";
}
#overview h2{
    font-family: "spaceFont";
}

@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#overview p{
  opacity: 0;  
}
 #overview p:hover{
    animation-name: appear; 
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}  
#AR{
    border: white solid 5px;
    box-shadow:1px 1px 3px 10px black;
    display:flex;
    flex-direction: column;
    background-image: url("images/AR Golf.png");
}
#Gamemodes {
    border: white solid 5px;
    box-shadow:1px 1px 3px 10px black;
    display:flex;
    flex-direction: column;
    background-image: url("images/Golf Dining Area.png");
}
#courses {
    border: white solid 5px;
    box-shadow:1px 1px 3px 10px black;
    display:flex;
    flex-direction: column;
    background-image: url("images/Golf Course.png");
}
#prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Prices th {
    font-family: "BoldSpaceFont";
    text-align: left;
}
#Prices h3 {
    font-size: 25px;
}
#Prices th {
    background-color: deepskyblue;
}
#Prices {
    font-family: "spaceFont";
    border: 5px white solid;
    margin: 0% 10%;
    background-color: rgba(0, 0, 0, 0.8);
}
#prices h2 {
    font-family:"BoldSpaceFont";
}
#img {
    width:75%;
    border:10px black solid;
}
#gallery{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#gallerybuttons {
    display: flex;
    flex-direction: row;
}
#gallery button {
    width: 50px;
    height: 50px;
    background: #1c607a;
background: linear-gradient(90deg,rgba(28, 96, 122, 1) 0%, rgba(90, 163, 115, 1) 58%, rgba(104, 225, 252, 1) 86%);
border-radius:20px;
    color:aliceblue
}

@keyframes buttonHover{
    0%{transform: scale(1.0);}
    100%{transform: scale(1.2);box-shadow:#1c607a;box-shadow: 2;}
}

button:hover {
    animation-name: buttonHover; 
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}